---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="CAM-KP Frontend">
	<main>
		<h1>CAM-KP Frontend</h1>
		<p><strong>Under development.</strong> This frontend allows you to access some parts of CAM-KP without
		having to use the TRAPI interface. It is primarily intended to ensure that the knowledge from CAM-KP is
		fully accessible from TRAPI.</p>
	</main>
</Layout>

<style>
</style>
